<div class="clase2">
    <img src="../../../assets/regulaciones.jpg" class="..." alt="...">
</div>

<div class="clase4">
    <h3>¿Qué son las regulaciones?</h3>
    <p>Las regulaciones son normativas emitidas por diversas instituciones gubernamentales para establecer reglas y procedimientos que rigen diversos aspectos de la sociedad.</p>

    <h3>Objetivo del Registro en GobEc</h3>
    <p>El registro en GobEc tiene como objetivo centralizar y proporcionar acceso a la información sobre las regulaciones vigentes, facilitando a la ciudadanía el conocimiento y cumplimiento de las normativas gubernamentales.</p>

    <h3>Beneficios</h3>
    <ul>
        <li>Transparencia en la gestión gubernamental.</li>
        <li>Facilita la consulta y comprensión de las regulaciones por parte de la sociedad.</li>
        <li>Apoyo a los trámites y procesos públicos al contar con un marco normativo claro.</li>
    </ul>

    <h3>Cómo Utilizar la Plataforma</h3>
    <p>Explora las regulaciones registradas en GobEc utilizando la interfaz fácil de usar. Puedes buscar por categoría, fecha, institución emisora, entre otros criterios.</p>

    <p>¡Descubre y conoce más acerca de las regulaciones que impactan tu entorno!</p>
</div>
